@model Website.ViewModel.LocationVM

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LocationVM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Climate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Climate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Surface_water)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surface_water)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idL }) |
    @Html.ActionLink("Back to List", "Index")
</p>

